# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments  
/venv
.venv/
env/
ENV/

# Project-specific ignores
tests/output/*.html
tests/output/*.json

# OS-specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
